{% extends "base.html" %}
{% load i18n %}
{% load bootstrap_toolkit %}

{% block content %}
<form method="post" action=".">
    {% csrf_token %}
    {{ form|as_bootstrap }}
    <!-- div class="form-actions" -->
        <button type="submit" class="btn btn-primary">Submit</button>
    <!-- /div -->
</form>

<p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
<p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
{% endblock %}
